<div class="breadcrumbs">
  <a href="/">{{ "Home"|t }}</a>
  {{ "Ocbijeenkomst"|t }}
</div>
<h1 class="page-title">{{ "Bijeenkomst oudercommissies"|t }}</h1>
<div id="meeting-page">
  <div class="meeting clearfix">
    <div>{{ text|raw }}</div>
  </div>
</div>
<div class="form">
  {{ form|raw }}
</div>

